# Import Modules

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.2.2
1.26.4

# Persiapan Data Frame

In [3]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), 
                  columns=cols)
df

    A   B   C   D   E
0   8  11  16  10  14
1  14   1  13  14   3
2  10  16   5  14  19
3  12   7   4   7   3
4  14   5  11   6   2

# Akses nilai variabel pada query()

In [5]:
df.query('A > 10')

    A  B   C   D  E
1  14  1  13  14  3
3  12  7   4   7  3
4  14  5  11   6  2

In [7]:
rerata = df['A'].mean()
rerata

11.6

In [9]:
df.query('A > @rerata')

    A  B   C   D  E
1  14  1  13  14  3
3  12  7   4   7  3
4  14  5  11   6  2