# Import Modules

In [1]:
import pandas as pd

print(pd.__version__)

2.2.2

# Persiapan Data Frame

In [3]:
d = {'hobi':['jogging', 'mancing', 'renang',
             'mancing', 'mancing', 'baca', 
             'baca', 'mancing', 'fotograsi', 
             'mancing', 'camping']}

df = pd.DataFrame(d)
df

         hobi
0     jogging
1     mancing
2      renang
3     mancing
4     mancing
5        baca
6        baca
7     mancing
8   fotograsi
9     mancing
10    camping

# Membuat kategori baru berdasarkan threshold (ambang batas)

In [5]:
df['hobi'].value_counts()

hobi
mancing      5
baca         2
jogging      1
renang       1
fotograsi    1
camping      1
Name: count, dtype: int64

In [7]:
persentase = df['hobi'].value_counts(normalize=True)
persentase

hobi
mancing      0.454545
baca         0.181818
jogging      0.090909
renang       0.090909
fotograsi    0.090909
camping      0.090909
Name: proportion, dtype: float64

In [9]:
threshold = 0.1
hobi_lain = persentase[persentase < threshold].index
hobi_lain

Index(['jogging', 'renang', 'fotograsi', 'camping'], dtype='object', name='hobi')

In [11]:
df['hobi'] = df['hobi'].replace(hobi_lain, 'lainnya')
df['hobi']

0     lainnya
1     mancing
2     lainnya
3     mancing
4     mancing
5        baca
6        baca
7     mancing
8     lainnya
9     mancing
10    lainnya
Name: hobi, dtype: object

In [13]:
df['hobi'].value_counts(normalize=True)

hobi
mancing    0.454545
lainnya    0.363636
baca       0.181818
Name: proportion, dtype: float64