# Import Modules

In [1]:
import pandas as pd
import numpy as np
print(pd.__version__)
print(np.__version__)

2.2.2
1.26.4

# Persiapan Data Frame

In [3]:
n_rows=10
n_cols=5
cols= tuple('ABCDE')
df= pd.DataFrame(np.random.randint(1,10,size= (n_rows,n_cols)),
                columns= cols)

df

   A  B  C  D  E
0  3  7  4  4  9
1  2  8  8  5  9
2  8  5  2  7  9
3  8  5  3  5  1
4  8  5  8  2  8
5  1  7  4  7  4
6  5  6  2  9  7
7  4  1  2  6  4
8  6  1  1  9  6
9  9  5  6  5  1

# Menghitung jumlah baris menurut kriteria tertentu

In [5]:
(df['A']<5).sum()

4

In [7]:
(df['A']<5).mean()

0.4