# Import Modules

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.2.2
1.26.4

# Persiapan Data Frame

In [3]:
n_rows = 10
n_cols = 1
cols = ('usia',)

df = pd.DataFrame(np.random.randint(1, 99, size=(n_rows, n_cols)), 
                  columns=cols)
df

   usia
0    23
1    57
2     9
3    57
4    32
5    90
6    96
7     4
8    14
9    52

# Pengelompokkan nilai numerik ke dalam beberapa kategori menggunakan cut()

In [5]:
df['kelompok_usia'] = pd.cut(df['usia'], 
                             bins=[0, 18, 65, 99], 
                             labels=['anak', 'dewasa', 'manula'])
df

   usia kelompok_usia
0    23        dewasa
1    57        dewasa
2     9          anak
3    57        dewasa
4    32        dewasa
5    90        manula
6    96        manula
7     4          anak
8    14          anak
9    52        dewasa