# Import Modules

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.2.2
1.26.4

# Persiapan Data Frame

In [11]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)),
                  columns=cols)
df

    A   B   C   D   E
0   3  19  17  17   7
1  12  12   1  12  19
2   4  17   8   5  18
3  15   3  19  15   2
4  18  12  12  14   4
5  15  11  15   1  15
6  11  17   2   7  11
7  14  11  13   2   5
8   6  19  17  15  12
9  12  10   6  13  12

# Seleksi kolom dan baris menggunakan loc

In [13]:
df.loc[[0,3,4], ['B', 'E']]

    B  E
0  19  7
3   3  2
4  12  4

# Seleksi baris dengan kondisi

In [15]:
df.loc[df['B']>10, ['B', 'D', 'E']]

    B   D   E
0  19  17   7
1  12  12  19
2  17   5  18
4  12  14   4
5  11   1  15
6  17   7  11
7  11   2   5
8  19  15  12

# Slicing Data Frame dengan loc

In [19]:
df.loc[0:4, 'B':'D']

    B   C   D
0  19  17  17
1  12   1  12
2  17   8   5
3   3  19  15
4  12  12  14