# Import Modules

In [9]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.2.2
1.26.4

# Persiapan Data Frame

In [11]:
n_rows = 365 * 24 
n_cols = 2         
cols = ['col1', 'col2'] 

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), columns=cols)

df.index = pd.date_range(start='2023-01-01', periods=n_rows, freq='h')

df.head()

                     col1  col2
2023-01-01 00:00:00     5    12
2023-01-01 01:00:00    18    15
2023-01-01 02:00:00    12    19
2023-01-01 03:00:00    14    10
2023-01-01 04:00:00    18     3

# Resampling data dengan interval monthly

In [13]:
df.resample('M')['col1'].sum().to_frame()

C:\Users\Asus\AppData\Local\Temp\ipykernel_7044\985753190.py:1: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df.resample('M')['col1'].sum().to_frame()

            col1
2023-01-31  7622
2023-02-28  6688
2023-03-31  7699
2023-04-30  7468
2023-05-31  7506
2023-06-30  7175
2023-07-31  7516
2023-08-31  7470
2023-09-30  7634
2023-10-31  7403
2023-11-30  7260
2023-12-31  7202

In [15]:
df.resample('M')['col1'].sum()

C:\Users\Asus\AppData\Local\Temp\ipykernel_7044\1602505769.py:1: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df.resample('M')['col1'].sum()

2023-01-31    7622
2023-02-28    6688
2023-03-31    7699
2023-04-30    7468
2023-05-31    7506
2023-06-30    7175
2023-07-31    7516
2023-08-31    7470
2023-09-30    7634
2023-10-31    7403
2023-11-30    7260
2023-12-31    7202
Freq: ME, Name: col1, dtype: int32

# Resampling data dengan interval daily

In [17]:
df.resample('D')['col1'].sum().to_frame()

            col1
2023-01-01   276
2023-01-02   223
2023-01-03   250
2023-01-04   216
2023-01-05   268
...          ...
2023-12-27   252
2023-12-28   258
2023-12-29   173
2023-12-30   271
2023-12-31   235

[365 rows x 1 columns]