# Import Modules

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.2.2
1.26.4

# Membentuk Data Frame dari Dictionary

In [3]:
pd.DataFrame({'col1':[1, 2, 3, 4], 
              'col2':[5, 6, 7, 8]})

   col1  col2
0     1     5
1     2     6
2     3     7
3     4     8

# Membentuk Data Frame dari Numpy Array

In [5]:
n_rows = 5
n_cols = 3

arr = np.random.randint(1, 20, size=(n_rows, n_cols))
arr

array([[18, 13,  5],
       [19, 10, 10],
       [14,  3, 10],
       [17, 14, 10],
       [15, 11,  9]])

In [7]:
pd.DataFrame(arr, columns=tuple('ABC'))

    A   B   C
0  18  13   5
1  19  10  10
2  14   3  10
3  17  14  10
4  15  11   9

# Membentuk Data Frame dengan memanfaatkan pandas.util.testing

In [9]:
n_rows = 30 
n_cols = 4 
columns = list('ABCD')

data = np.random.randn(n_rows, n_cols)

df = pd.DataFrame(data, columns=columns)

print(df.head())

          A         B         C         D
0 -1.260044  0.980261 -0.611818  1.545795
1  0.090965 -0.818227  0.386153  0.788996
2  0.226705  1.316598 -1.325909 -0.212736
3 -0.429493 -0.726890  0.997234  0.263920
4 -1.799148 -0.379000 -0.291490 -1.559810

In [11]:
n_rows = 5 

data = {
    'A': np.random.randn(n_rows),                 
    'B': np.arange(1, n_rows + 1),                
    'C': pd.date_range('2024-01-01', periods=n_rows), 
    'D': ['foo', 'bar', 'baz', 'qux', 'quux']    
}

df = pd.DataFrame(data)

print(df.head())

          A  B          C     D
0 -1.089040  1 2024-01-01   foo
1  1.562828  2 2024-01-02   bar
2 -0.947734  3 2024-01-03   baz
3 -0.018910  4 2024-01-04   qux
4  0.707344  5 2024-01-05  quux

In [16]:
n_rows = 30  
n_cols = 4   
columns = list('ABCD')  

time_index = pd.date_range(start='2024-01-01', periods=n_rows, freq='D')  

df = pd.DataFrame(np.random.randn(n_rows, n_cols), index=time_index, columns=columns)

print(df.head())

                   A         B         C         D
2024-01-01  0.164927  0.308189  1.372802 -0.103415
2024-01-02  0.625666 -0.340678 -1.724041  0.696652
2024-01-03  0.056724 -1.419998  0.236718  0.993077
2024-01-04 -0.086048 -1.642245  0.621369 -0.434435
2024-01-05  2.057285 -0.284305 -0.557729 -2.552099

In [18]:
n_rows = 5
n_cols = 4

data = np.random.randn(n_rows, n_cols)

df = pd.DataFrame(data, columns=list('ABCD'))

df.iloc[0, 1] = np.nan
df.iloc[2, 3] = np.nan
df.iloc[4, 0] = np.nan

print(df.head())

          A         B         C         D
0 -0.676709       NaN -1.126976  0.431803
1 -0.101681  0.347152 -1.151238 -1.062053
2 -0.915176 -0.702662 -0.780306       NaN
3 -0.365263  0.885836 -0.917649 -0.712604
4       NaN -1.138372 -1.242186  0.442766