# Import Modules

In [29]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.2.2
1.26.4

# Persiapan Data Frame

In [31]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)),
                  columns=cols)
df

   A  B  C  D  E
0  6  8  6  4  3
1  1  1  6  6  8
2  5  7  7  6  1
3  4  8  9  5  5
4  1  8  2  4  8

In [33]:
tuple('ABCDE')

('A', 'B', 'C', 'D', 'E')

# Menyertakan Prefix Kolom

In [24]:
df.add_prefix('kolom_')

   kolom_A  kolom_B  kolom_C  kolom_D  kolom_E
0        1        7        5        4        7
1        7        2        7        7        2
2        2        7        4        8        1
3        3        7        7        3        9
4        6        4        7        7        6

# Menyertakan Suffiix Kolom

In [27]:
df.add_suffix('_field_')

   A_field_  B_field_  C_field_  D_field_  E_field_
0         1         7         5         4         7
1         7         2         7         7         2
2         2         7         4         8         1
3         3         7         7         3         9
4         6         4         7         7         6